/*//////////////////////////////////////////////////////////////////////////////
// __________ __             ________                   __________              
// \______   \  |__ ______  /  _____/  ____ _____ ______\______   \ _______  ___
//  |     ___/  |  \\____ \/   \  ____/ __ \\__  \\_  __ \    |  _//  _ \  \/  /
//  |    |   |   Y  \  |_> >    \_\  \  ___/ / __ \|  | \/    |   (  <_> >    < 
//  |____|   |___|  /   __/ \______  /\___  >____  /__|  |______  /\____/__/\_ \
//                \/|__|           \/     \/     \/             \/            \/
// -----------------------------------------------------------------------------
//          Designed and Developed by Brad Jones <brad @="bjc.id.au" />         
// -----------------------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////*/

/**
 * Move down content because we have a fixed navbar that is 50px tall.
 */
body { padding-top: 50px; }

/**
 * Top navigation - Hide default border to remove 1px line.
 */
.navbar-fixed-top { border: 0; }

/**
 * Section: Main Content
 * =============================================================================
 * The following styles the main content column in the middle of the page.
 */
.main
{
	padding: 20px;
	padding-right: 40px;
	padding-left: 40px;
}

.main .page-header
{
	margin-top: 0;
}

.main .panel-body h2
{
	font-size:18px;
}

/**
 * Section: Sidebars
 * =============================================================================
 * The following styles both the left and right hand sidebars.
 */
.sidebar
{
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}

.search
{
	padding-bottom:10px;
	text-align: center;
}

.toc
{
	position: fixed;
	top: 51px;
	bottom: 0;
	right: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}

.toc .list-group-item
{
	cursor: pointer;
	padding-top:5px !important;
	padding-bottom:5px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/**
 * Section: Misc
 * =============================================================================
 * Some left over styles that I couldn't think of a category for...
 */

.view-source
{
	cursor: pointer;
	float: right;
}

#sourceModal .modal-dialog
{
	width: 80%;
}

.sub-header
{
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}